.contacts {
	display: flex;
}

.header__contacts {
	margin-left: auto;
}
.contacts__link {
	color: var(--primery-text-color);
	font-weight: 500;
	font-size: 14px;
	line-height: 1.15;
	letter-spacing: 0.02em;
	text-decoration: none;
	padding-top: 32px;
	padding-bottom: 32px;
	display: flex;
	align-items: center;
	transition: color var(--transition);
}
.contact__link-icon {
	margin-right: 10px;
	fill: currentColor;
}

.contacts__link:hover,
.contacts__link:focus {
	color: var(--accent-text-color);
}

.contacts__item:not(:last-child) {
	margin-right: 50px;
}

.contacts__item {
	display: flex;
	align-items: center;
	justify-content: center;
}
