:root {
	--primery-text-color: #757575;
	--title-text-color: #212121;
	--accent-text-color: #2196f3;
	--primery-background-color: #ffffff;
	--transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
	--logo-font: font-family Raleway, sans-serif;
}

.body {
	background-color: var(--primery-background-color);
	color: var(--primery-text-color);
	font-family: "Roboto", sans-serif;
}
